h1 {
  font-family: SEGA LOGO FONT;
  font-weight: 200;
  color: #0ccac4;
  font-size: 3rem;
  margin-bottom: 43px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 7px;
  width: 100%;
}

.home {
  width: 100%;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px; 
}

.robots {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  border: 5px solid black;
  justify-content: center;
  height: calc(100vh - 200px);
}

.title {
  display: flex;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 45%;
}

.close-icon {
  height: 25px;
}

.edit-icon {
  width: 100%;
}

