#view {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.view-information {
    border-radius: .5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
    background-color: #9eebcf;
    width: 35%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.view-input {
    display: flex;
    align-items: center;
}

.view-label {
    width: 175px;
}
