body{
  background: linear-gradient(270deg, #071b52 0, teal);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  /* overflow-y: auto; */
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  src: url('C:\Users\Taline Badran\Desktop\Dev\React\firstproject\src\font\SEGA.TTF') format('truetype');
}

